body{
    font-family: Arial, sans-serif;
    margin:0; 
    padding: 0;
}
header{
    background: #845EC2;
    color: white;
    padding: 20px;
    text-align: center;
}
.categories{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.category{
    background: #f8f8f8;
    border:1px solid #ddd;
    padding: 20px;
    text-align: center;
    margin:0 10px;
    width: 150px;
    border-radius: 10px;
}
.category img{
    width: 60px;
    height: 60px;
}
.banner{
    background: #d161f3;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
.pets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}
.pet-card{
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}
.pet-card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
h2 {
    text-align: center;
}



.pet-card1 img{
    padding-top: 7px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.pet-card1{
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    text-align: center;
}
.adoption-info{
    text-align: center;
    padding: 30px;
    background-color: #f9f9f9;
}
.adoption-info h2{
    font-size: 2rem;
    color: #4a4a4a;
    margin-bottom: 20px;
}
.info-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}
.card{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-shrink: 0;
}
.card img{
    max-width: 60px;
    margin-bottom: 10px;
}
.card h3{
    font-size: 1.2rem;
    color: #6a1b9a;
    margin-bottom: 10px;
}
.card p{
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}
.card button{
    background-color: #6a1b9a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transform: background-color 0.3s ease;
}
.card button:hover{
    background-color: #4a148c;
}



footer{
    background: #eee;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}