body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;

}
.content {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 20px;
}
.cat-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px 40px;
} 
.cat-card{ 
border: 2px solid #ff6600;
    border-radius: 12px;
    overflow: hidden;
    width: 220px;
    text-align: center;
    background: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.cat-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
.cat-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
}
.back-button {
    display: inline-block;
    margin: 10px;
    color: white;
    background-color: orange;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    outline: 3px solid white;
}