body {
    margin:0;
    font-family: Arial,sans-serif;
    background-color: #0056b3;
    color:white;
    text-align: center;
    padding: 0;
   color: #333;
   
}
    .main-content {
        position: relative;
        background: url('imageourteam/rb_2148913034.png') no-repeat center center/cover;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        color: white;
        padding: 40px;
        overflow: hidden;
       
            overflow: hidden;
            background-attachment: fixed;
        }
    
    
    .main-content h1 {
        font-size: 3.5em;
        margin-bottom: 10px;
        letter-spacing: 1.5px;
    }
    
    .main-content span {
        display: block;
        font-size: 1.5em;
        margin-bottom: 20px;
        font-style: italic;
        color: #f0e68c;
    }
    
    .main-content p {
        font-size: 1.3em;
        line-height: 1.9;
        margin-bottom: 25px;
    }
    
    .learn-more-button {
        display: inline-block;
        padding: 14px 28px;
        font-size: 1.1em;
        color: white;
        background-color: #008c99;
        text-decoration: none;
        border-radius: 8px;
        transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    }
    
    .learn-more-button:hover {
        background-color: #008c99;
        transform: scale(1.08); 
    }
    

.team-section {
    background-color: #e8e8e8;
    padding: 50px 20px;
 
}
.section-title {
    font-size: 2.5em;
    color: #008c99;
    margin-bottom:20px;

}
.team-members {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.team-member {
    max-width: 250px;
    text-align: center;
    margin: 20px;
}
.team-icon {
    width: 80px;
    margin-bottom: 20px;
}
.team-member h2 {
    font-size: 1.5em;
    color:#333;

}
.team-member p {
    font-size: 1.1em;
    color:#666;
}
.email {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9px;
    color:#008c99;
    text-decoration: none;
    border:1px solid #008c99;
    padding: 8px 12px;
    border-radius:5px;
    transition:all 0.3s ease-in-out;
}
.email:hover {
    background-color: #008c99;
    color: #fff;
}
.board-section {
    padding:40px 20px;
}
.board-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}
.board-list li {
    font-size: 1.1em;
    margin:10px 0;
    color:#333;
}
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding: 50px 20px;
    gap: 30px;
}

.contact-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out;
}
 
.contact-image img:hover {
    transform: scale(1.05); 
}

