
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #333;
    box-sizing: border-box;
    
}


.main-content {
    position: relative;
    background: url('images/dogs9.jpg') no-repeat center center/cover;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    color: white;
    padding: 40px;
    overflow: hidden;
  
     background-attachment: fixed;
    }


.main-content h1 {
    font-size: 3.5em;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
}

.main-content span {
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
    font-style: italic;
    color: #f0e68c;
}

.main-content p {
    font-size: 1.3em;
    line-height: 1.9;
    margin-bottom: 25px;
}

.learn-more-button {
    display: inline-block;
    padding: 14px 28px;
    font-size: 1.1em;
    color: white;
    background-color: #008c99;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.learn-more-button:hover {
    background-color: #02474e;
    transform: scale(1.08); 
}





.stats-section {
    background-color: #fffdfd;
    padding: 10px 5px; 
    text-align: center;
}

.styled-line {
    border: 0;
    height: 2px; 
    background-color: #2c3e50; 
    margin: 20px 0; 
    width: 80%; 
    margin-left: auto;
    margin-right: auto; 
}

.stats-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px; 
}

.stats-item {
    max-width: 150px; 
    text-align: center;
    margin: 5px; 
}

.stats-icon {
    width: 100px; 
    margin-bottom: 5px;
}

.stats-item h2 {
    font-size: 1em; 
    color: #333;
    margin-bottom: 4px; 
}

.stats-item p {
    font-size: 1.em; 
    color: #666;
    line-height: 1.1;
}

.impact {
    background: url('images/008C99.png.png') no-repeat center center/cover;
    background-color: #e68a12;
    background-attachment: fixed;
    color: white;
    padding: 40px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;     
    gap: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    

}

.impact-text {
    flex: 2;
    max-width: 500px;
}

.impact-text h1 {
    font-size: 2.5em;
    color: #f7ecec;
    margin-bottom: 20px;
}

.impact-text p {
    font-size: 1.2em;
    color: #faf1f1;
}

.impact-image {
    flex: 1;
    max-width: 500px;
}

.impact-image img {
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
        gap: 20px;
    }

    .impact {
        flex-direction: column;
        text-align: center;
    }

    .impact-text {
        text-align: center;
    }
}
.stats img{
    width: 200px;
    height: 200px;
}


.content-item h2{
    color: #eaeef2;
    font-size: 2.5em;
    margin: 10px 0;
}
.content-item{
    background: url('images/dogbehind.jpg') no-repeat center center/cover;
    background-color: #f8f4f40e; 
    text-align: center;
    padding: 20px;
}
.content1{
    padding: 40px 20px;
    color: #555;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.content-item p {
    font-size: 1.5em;
    color: #ece7e7;
    margin: 20px 0 30px;
}
.image-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.content-image {
    flex: 1;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.content-text {
    flex: 1;
    text-align: left;
    max-width: 500px;
}

.content-text h2 {
    color: #4b0082;
    font-size: 2em;
    margin-bottom: 10px;
}

.content-text p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1em;
    color: #fff;
    background-color: #ff8000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #a0a0a0;
}